.conversation
{
    flex:0.65;

    display:flex;
    flex-direction:column;

}
.conv__header
{
    display: flex;
    align-items: center;
    padding:7px;
    border-bottom: 1px solid lightgray;
    
}
.conv__header .conv__header__info
{
    flex:1;
    padding-left: 10px;
}
.conv__header .conv__header__info > h3
{
    font-weight:500;
}
.conv__header .conv__header__info >p
{
    color:lightgray;
}
.conv__body
{   flex:1;
    background:url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.chat__body
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.message
{
    position: relative;
    padding: 4px 8px;
    background-color:white;
    color:black;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 4px;
    width:fit-content;
}
.sender{
    position: absolute;
    font-weight: 800;
    font-size:10px;
    top:-17px;
    left:0;
    padding:3px;
}
.timestamp{
    font-size:xx-small;
    color:grey;
    padding:4px;
}