.login__cont
{
    height: 100vh;
    width: 100vw;
    display:grid;
    place-items: center;
}
.login__button
{
    color: white!important;
    background-color:#009432!important;
    text-transform: inherit!important;
    font-weight:900!important;
}
